body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-container h2, .register-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container div, .register-container div {
    margin-bottom: 15px;
    text-align: left;
}

.login-container label, .register-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-container input, .register-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container select, .register-container select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.login-container button:hover, .register-container button:hover {
    background-color: #0056b3;
}

.messages {
    margin-bottom: 20px;
    color: red;
    font-weight: bold;
}

.qr-container {
    margin-top: 20px;
    text-align: center;
}

.qr-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.qr-container a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.qr-container a:hover {
    background-color: #218838;
}

p {
    margin-top: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#qr-login-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#qr-login-button:hover {
    background-color: #218838;
}

#qr-reader {
    margin-top: 20px;
}
.scan-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 540px;
    text-align: center;
}

.scan-container h2 {
    margin-bottom: 20px;
    color: #333;
}

#qr-reader {
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.scan-container p {
    color: #555;
    font-size: 16px;
}
